<!-- REVIEW: that view is too big, split it into partials -->
<div class="answers">
  <h4>Answers</h4>

  <% @question.answers.sorted_by_vote.each do |answer| %>
  <div class="answer">
    <div class="votes">
      <!-- you should move this into a view helper -->
      <% if current_user && current_user.voted?(answer) %>
        <% image_names = current_user.upvoted?(answer) ? ['selected_uparrow', 'downarrow'] : ['uparrow', 'selected_downarrow'] %>
        <div class="vote">
          <% image_names.each do |name| %>
            <% class_name = name.split('_').last == 'uparrow' ? 'upvote' : 'downvote'%>
            <%= image_tag "#{name}.png", class: class_name, :data => {:voteable_id =>  answer.id, :image => "#{name}.png"} %>
            <% if image_names.first == name %>
              <span class="vote-number"> <%= answer.vote_count %></span>
            <% end %>
          <% end %>
        </div>
      <% else %>
        <%= render partial: 'default_vote_buttons', locals: {answer: answer} %>
      <% end %>
    </div>
    <div class="answer-text"><%= answer.body %><br>
      <small class="byline">posted by
        <%= link_to answer.user.username, answer.user %>
        <%= answer.time_ago %>
      </small>
    </div>
  </div>
  <% end %>
</div>
