<% if local_assigns[:answer] %>
  <%= image_tag 'uparrow.png', class: 'upvote', :data => {:voteable_id =>  answer.id, :image => "uparrow.png"} %>
  <span class="vote-number"> <%= answer.vote_count %></span>
  <%= image_tag 'downarrow.png', class: 'downvote', :data => {:voteable_id =>  answer.id, :image => "downarrow.png"} %>
<% end %>

<% if local_assigns[:question] %>
  <%= image_tag 'uparrow.png', class: 'upvote', :data => {:voteable_id =>  question.id, :image => "uparrow.png"} %>
  <span class="vote-number"> <%= question.vote_count %></span>
  <%= image_tag 'downarrow.png', class: 'downvote', :data => {:voteable_id =>  question.id, :image => "downarrow.png"} %>
<% end %>
