<div class='question-text'> 
  <span class="question_title">
    <%= link_to question.title, question %>
  </span> 
  <small> asked by 
    <%= link_to question.user.username.capitalize, question.user %> 
    <%= question.time_ago %> 
  </small>
  <p>
    <%= truncate(question.body, length: 125, omission: '...(continued)') %> 
  </p>
  <%= image_tag question.photo.thumb.url.slice(1..-1), class: "home-thumb" if question.photo_url %>
  <p>
    <small>
      <%= link_to pluralize(question.answers.count, 'answer'), question %>
    </small>
  </p>
  <p>
    <small>
      <% question.tags.map do |tag|  %>
        <%= link_to "#" + tag.name, "/tags/#{tag.name}" %> 
      <% end %>
    </small>
  </p>
</div>
<hr>