<h2> Ask Question </h2>
<div class="question-form">
  <span class="notice"><%= flash[:notice] if flash[:notice] %></span>
  <%= form_for @question  do |f| %>
    <p><%= f.label "Title" %></p>
    <p><%= f.text_field :title %></p>
    <p><%= f.label "Question" %></p>
    <p><%= f.text_area :body %></p>
    <p><%= f.file_field :photo %></p>
    <p><%= f.submit "ask question" %></p>
  <% end %>
</div>
