<h3>Question: <%= @question.title %> </h3>
<hr>

<%= @question.body %>
<br><small><%= @question.user.username if @question.user %></small>

<hr>
<h4>Answers</h4>
<% if @question.answers.any? %>
  <% @question.answers.each do |answer| %>
      <p><%= image_tag 'uparrow.png', class: 'upvote' %><br>
      <%= image_tag 'downarrow.png', class: 'downvote' %>
      <%= answer.body %>
      <small><%= answer.user.username %></small></p>
  <% end %>
<% end %>

<%= form_for [@answer] do |f| %>
  <%= f.hidden_field :question_id, :value => @question.id %>
  <%= f.text_field :body, placeholder: "What are your thoughts?" %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.submit "Add answer" %>
<% end %>

