<h3>Question: <%= @question.title %> </h3>
<hr>


<%= @question.body %>
<br><small><%= link_to @question.user.username, @question.user %></small>

<hr>
<div class="answer-container">
  <%= form_for [@answer] do |f| %>
    <%= f.hidden_field :question_id, :value => @question.id %>
    <%= f.text_field :body, placeholder: "What are your thoughts?" %> 
    <%= f.submit "Add answer" %>
  <% end %>
  <p><%= flash[:notice] if flash[:notice] %></p>


  <div class="answers">
    <h4>Answers</h4>
    
    <% @question.answers.sorted_by_vote.each do |answer| %>
      <div class="answer">
          <div class="votes">
            <%= image_tag 'uparrow.png', class: 'upvote', :data => {:answer_id =>  answer.id} %>
            <span class="vote-number"> <%= answer.vote_count %></span>
            <%= image_tag 'downarrow.png', class: 'downvote', :data => {:answer_id =>  answer.id} %>
          </div>


          <div class="answer-text"><%= answer.body %><br>
            <small class="byline">posted by 
              <%= link_to answer.user.username, answer.user %> 
              <%= answer.time_ago %> minutes ago
            </small>
          </div>
        </div>
      <% end %>
  </div>
</div>

