<h3 class="question-title"> 
  <%= @question.title.capitalize %>   
  <small>
    <% @question.tags.map do |tag|  %>
        <%= link_to "#" + tag.name, "/tags/#{tag.name}" %> 
      <% end %>
  </small>
</h3>

<h2 class = "question-title">
  <%= @question.body.capitalize %>
</h2>

<small>
  <%= link_to @question.topic.title.downcase, "/topics/#{@question.topic.title}" %> | Asked by <%= link_to @question.user.username, @question.user %> <%= @question.time_ago %>
</small>

<p>
  <%= image_tag @question.photo.url.slice(1..-1) if @question.photo_url %>
</p>

<hr>
<br>

<%= render "answers", locals: {question: @question, answer: @answer} %>
