<h3>Question: <%= @question.title %> </h3>
<hr>

<%= @question.body %>
<br><small><%= link_to @question.user.username, @question.user %></small>

<hr>

<div class="answers">
  <h4>Answers</h4>
  <% if @question.answers.any? %>
    <% @question.answers.each do |answer| %>
        <p>
          <%= image_tag 'uparrow.png', class: 'upvote', :data => {:answer_id =>  answer.id} %><br>
          <%= image_tag 'downarrow.png', class: 'downvote', :data => {:answer_id =>  answer.id} %>
          <%= answer.body %>
          <small><%= answer.user.username %></small>
        </p>
    <% end %>
  <% end %>
</div>

<%= form_for [@answer] do |f| %>
  <%= f.hidden_field :question_id, :value => @question.id %>
  <%= f.text_field :body, placeholder: "What are your thoughts?" %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.submit "Add answer" %>
<% end %>

