<span class="notice"><%= flash[:notice] if flash[:notice] %></span>

<%= form_for User.new, :url => { :action => "login"}, :method => :post do |f| %>

	<%= f.label :username %>
  <%= f.text_field :username %>

  <%= f.label :password %>
  <%= f.password_field :password %>


  <%= f.submit "login" %><br>
<% end %>
