  <% if flash[:notice] %>   
    <% flash[:notice].each do |notice| %>
      <span class="notice"><%= notice %></span><br>
    <% end %>
  <% end %>


  <div class='signup-form'>
    <%= form_for @user, :url => { :action => "create"}  do |f| %>

    <%= f.label :username %>
    <%= f.text_field :username, required: true %>

    <%= f.label :email %>
    <%= f.text_field :email, required: true %>

    <%= f.label :password %>
    <%= f.password_field :password, required: true %>

    <%= f.label :gender %>
    <%= f.select(:gender, options_for_select(["Male", "Female"])) %>

    <%= f.submit "Create Account" %><br>
    <% end %>

  </div>



