<!-- REVIEW: move these questions and answers into their own partials call them user_answers and user_questions for calarity -->
<h2 class="username"> <%= @user.username %> </h2>

<span class="user-answers">
<h3>Questions</h3>
<hr>
	<% @questions.each do |question| %>
  <p>
    <%= link_to question.body, question %><br>
    <small>
      <%= pluralize(question.answers.count, 'answer') %> |
      posted <%= question.time_ago %>
    </small>
  </p>
	<% end %>
</span>


<span class="user-questions">
<h3>Answers</h3>
<hr>
  <% @answers.each do |answer| %>
  <p>
    <%= link_to answer.body, answer.question %><br>
    <small>
      <%= answer.vote_count %> votes |
      posted <%= answer.time_ago %>
    </small>
  </p>
  <% end %>
</span>
